* {
  margin: 0px;
  box-sizing: border-box;
}
.outer-cunt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 350px;
  width: 400px;
  border-radius: 12px;
}
.heading {
  color: #0f172a;
  font-size: 48px;
  margin-bottom: 25px;
}
.button {
  cursor: pointer;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #ffffff;
  color: #1e293b;
  border-radius: 8px;
  border-width: 0.5px;
  margin-top: 15px;
  margin-bottom: 8px;
}
.change-text {
  color: #334155;
  font-weight: 500;
  font-size: 28px;
}
.note {
  color: #334155;
  font-size: 10px;
}
